/* Кастомные стили для компонентов */

/* Переходы для сайдбара */
.sidebar-transition {
  transition: all 0.3s ease-in-out;
}

/* Дополнительные размеры для сайдбара */
.ml-75 {
  margin-left: 18.75rem; /* 300px */
}

.w-300px {
  width: 300px;
}